# Ignore venv directory
venv/
# Ignore .docx, .png, .pdf files
*.docx
*.png
*.pdf
# Ignore SQLite database files
*.sqlite3
*.sqlite3.backup
# Ignore .env file
.env
# Ignore photos directory
/photos/
# Ignore __pycache__ directories
**/__pycache__/
