
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

	<!-- titles -->
	<link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fb2d837902.js" crossorigin="anonymous"></script>
	<link rel="shortcut icon" href="https://clipground.com/images/garbage-truck-png-2.png" type="image/x-icon">
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
    <meta charset="UTF-8">
    <title>GMS</title>
	<style>
		/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.navbar-scrolled {
    background-color: #ffffff; /* Specify the color you want */
    color: #090909;
    transition: background-color 0.4s ease; /* Add a smooth transition effect */
    
  }



	</style>
</head>
<body class="bg-success " >
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><span class="text-light fw-semibold fs-3" id="gms">GMS</span> <img src="https://clipground.com/images/garbage-truck-png-2.png" alt="logo" width="100px"></a>
		<nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom fixed-top  shadow-lg " id="navbar">
		  <div class="col-md-3 mb-2 mb-md-0">
			<a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
			  <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
			</a>
		  </div>
		  
		  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			<li><a href="{% url 'home' %}" class="nav-link px-2 text-light border border-2 rounded-4 mx-2 border-light  up">Home</a></li>
			<li><a href="{% url 'services' %}" class="nav-link px-2 text-light border border-2 rounded-4 mx-2 border-light  up">Services</a></li>
			{% if user.is_authenticated and user.is_customer %}
			<li><a href="{% url 'post-complaint' %}" class="nav-link px-2 text-light border border-2 rounded-4 mx-2 border-light  up">Complaint Now</a></li>
			<li><a href="{% url 'view_all_complaints' %}" class="nav-link px-2 text-light border border-2 rounded-4 mx-2 border-light  up">Your Complaints</a></li>
			{% endif %}
			{% if user.is_authenticated and user.is_driverreg %}
			<li><a href="{% url 'view_assigned_complaints' %}" class="nav-link px-2 text-light border border-2 rounded-4 mx-2 border-light  up">Jobs</a></li>
			{% endif %}
			
			<li><a href="{% url 'contact' %}" class="nav-link px-2 text-light border border-2 rounded-4 mx-2 border-light up ">Contact</a></li>
			<li><a href="{% url 'about' %}" class="nav-link px-2 text-light border border-2 rounded-4 mx-2 border-light  up">About</a></li>
		  </ul>

		  {% if request.user.is_authenticated %}
		
			  <div class="col-md-3 text-end">
				<a  class="btn btn-secondary  ">

					<i class="fa fa-user text-light"></i> <span class="ms-1 text-light">{{request.user.first_name|capfirst}}</span>
				</a>
				<a href="{% url 'logout' %}" class="btn btn-light">Logout</a>
			  </div>

		  {% else %}
		  <div class="col-md-3 text-end">
			<a href="{% url 'login' %}"  class="btn btn-outline-light me-2">Login</a>
			<a href="{% url 'registration1' %}" class="btn btn-light me-2 ">Sign-up</a>
		  </div>
		
			</ul>
		</li>
		

		  {% endif %}
		</header>
	  </div>

{% block content %} {% endblock %}

	<footer class="text-light container-fluid mt-5  ">

	  <div class="d-flex flex-column flex-sm-row justify-content-center  py-4 my-4 border-top">
		<p class="text-center">© 2024 Company, Inc. All rights reserved.</p>
		<ul class="list-unstyled d-flex">
		  <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
		  <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
		  <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
		</ul>
	  </div>
	</footer>

	
	

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</script>
<script>
	// Get the navbar element
let navbar = document.getElementById("navbar");

// Add a scroll event listener
window.addEventListener("scroll", function() {
  // Check if the user has scrolled down
  if (window.scrollY > 0) {
    // If scrolled down, add the class to change the background color
    navbar.classList.add("navbar-scrolled");
    toggleElementColors('text-light', 'text-success');
    toggleElementColors('border-light', 'border-success');
    toggleButtonColors('btn-outline-light', 'btn-outline-success', 'btn-light', 'btn-success');
} else {
	// If scrolled back to the top, remove the class
	toggleElementColors('border-success', 'border-light');
    navbar.classList.remove("navbar-scrolled");
    toggleElementColors('text-success', 'text-light');
    toggleButtonColors('btn-outline-success', 'btn-outline-light', 'btn-success', 'btn-light');
  }
});

function toggleElementColors(currentClass, newClass) {
  var listItems = document.querySelectorAll('.nav-link.' + currentClass);
  listItems.forEach(function(item) {
    item.classList.remove(currentClass);
    item.classList.add(newClass);
  });
}

function toggleButtonColors(currentClass1, newClass1, currentClass2, newClass2) {
  var loginButton = document.querySelector('.' + currentClass1);
  var signupButton = document.querySelector('.' + currentClass2);
  var logout = document.querySelector('.' + currentClass2);

  if (loginButton && signupButton) {
    loginButton.classList.remove(currentClass1);
    loginButton.classList.add(newClass1);

    signupButton.classList.remove(currentClass2);
    signupButton.classList.add(newClass2);
  }
  if (logout) {
    logout.classList.remove(currentClass2);
    logout.classList.add(newClass2);
  }
}

  </script>

</body>
</html>