<!-- complaint.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... (your head content) ... -->
</head>
<body>
    <h1 class="header-w3ls text-center text-light" style="margin-top: 10rem;">
        Complaint Registration
    </h1>

    <form action="{% url 'post-complaint' %}" method="post" class="container">
        {% csrf_token %}

        <div class="form-add-w3ls">
            <input type="text" class='form-control mt-2' name="c_landmark" placeholder="Location" required="">
        </div>

        <div class="main">
            <div class="form-left-w3l">
                <select name="bin_number" id="bin_number" class='form-control mt-2'>
                  <option value="" disabled selected>Select a Bin</option>
                  {% for bin in available_bins %}
                      <option value="{{ bin.Bin_id }}">{{ bin.Bin_name }}</option>
                  {% endfor %}
              </select>
            </div>

            <div class="form-control-w3l">
                <textarea name="c_complaint" class='form-control mt-2' placeholder="Enter Complaint"></textarea>
            </div>
            
            <input class="btn btn-light mt-2" type="submit" value="Submit">
        </div>
    </form>
</body>
</html>
{% endblock %}
