{% extends 'base.html' %}
{% load static %}
{% block content %}

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->

	<!-- Online-fonts -->
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
	<!-- //Online-fonts -->
	<!-- Main Content -->
	<div class="main">
		<div class="main-w3l">
			<h1 class="logo-w3"><b>Register Form</b></h1>
			<div class="w3layouts-main">
				<h2><span><b>Register now</b></span></h2>
					<form action="#" method="post">
						 {% csrf_token %}
						<input placeholder="First Name" name="f_name" type="text" required="">
						<input placeholder="Last Name" name="l_name" type="text" required="">
						<input placeholder="Email" name="email" type="email" required="">
						<input placeholder="Address" name="address" type="text" required="">
						<input placeholder="Zipcode" name="zipcode" type="text" required="">
						<input placeholder="Addhar No" name="addhar" type="text" required="">
                        <input placeholder="License No" name="license" type="text" required="">
						<input placeholder="Phone Number" name="phone" type="text" required="">
						<input placeholder="Username" name="u_name" type="text" required="">
						<input placeholder="Password" name="password1" type="password"  id="password1" required="">
						<input placeholder="Confirm Password" name="password2" type="password"  id="password2" required="">
						<input type="submit" value="Get Started" name="login">
					</form>
				<div>
					{% for message in messages %}
					<h3>{{message}}</h3>
					{% endfor %}
				</div>
			</div>
			<!-- //main -->

			<!-- password-script -->
			<script>
				window.onload = function () {
					document.getElementById("password1").onchange = validatePassword;
					document.getElementById("password2").onchange = validatePassword;
				}

				function validatePassword() {
					var pass2 = document.getElementById("password2").value;
					var pass1 = document.getElementById("password1").value;
					if (pass1 != pass2)
						document.getElementById("password2").setCustomValidity("Passwords Don't Match");
					else
						document.getElementById("password2").setCustomValidity('');
					//empty string means no validation error
				}
			</script>

{% endblock %}
