<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'base.html' %}
{% load static %}


{% block content %}


	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
		</script>
<section class="py-5 py-xl-8">
	<div class="container">
	  <div class="row justify-content-md-center">
		<div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
		  <h2 class="mb-4 display-5 text-center">Services</h2>
		  <p class="text-light  mb-5 text-center">We offer a wide range of services to help tech companies of all sizes succeed. We specialize in market research, secure payments, and 24/7 support.</p>
		  <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
		</div>
	  </div>
	</div>
  
	<div class="container overflow-hidden">
	  <div class="row gy-5 gx-md-5 justify-content-center">
		<div class="col-10 col-md-5 col-xl-4 overflow-hidden">
		  <div class="row gy-4">
			<div class="col-12 col-lg-2">
				<i class="fa-solid fa-truck-fast fs-2 text-light "></i>
			</div>
			<div class="col-12 col-lg-10">
			  <h4 class="mb-3">Credit Service</h4>
			  <p class="mb-3 text-light ">Apply for Free as a Member of the Global Waste Cleaning Network and Enjoy the Benefits. We are dedicated to conserving healthy oceans, coastlines, lands and the atmosphere..</p>

			</div>
		  </div>
		</div>
		<div class="col-10 col-md-5 col-xl-4 overflow-hidden">
		  <div class="row gy-4">
			<div class="col-12 col-lg-2">
				<i class="fa-solid fa-truck-fast fs-2 text-light "></i>
			</div>
			<div class="col-12 col-lg-10">
			  <h4 class="mb-3">Collect Waste</h4>
			  <p class="mb-3 text-light ">Household waste in economically developed countries will generally be left in waste containers or recycling bins prior to collection by a waste collector using a waste collection vehicle.</p>

			</div>
		  </div>
		</div>
		<div class="col-10 col-md-5 col-xl-4 overflow-hidden">
		  <div class="row gy-4">
			<div class="col-12 col-lg-2">
				<i class="fa-solid fa-truck-fast fs-2 text-light "></i>
			</div>
			<div class="col-12 col-lg-10">
			  <h4 class="mb-3">Recycle</h4>
			  <p class="mb-3 text-light ">Recycling is the process of collecting and processing materials that would otherwise be thrown away as trash and turning them into new products.</p>

			</div>
		  </div>
		</div>
		<div class="col-10 col-md-5 col-xl-4 overflow-hidden">
		  <div class="row gy-4">
			<div class="col-12 col-lg-2">
				<i class="fa-solid fa-truck-fast fs-2 text-light "></i>
			</div>
			<div class="col-12 col-lg-10">
			  <h4 class="mb-3">Waste Bin</h4>
			  <p class="mb-3 text-light ">At each location, two garbage bins (for wet and dry garbage) are placed which contain ultrasonic sensors to indicate level of garbage in the bin.</p>

			</div>
		  </div>
		</div>
		<div class="col-10 col-md-5 col-xl-4 overflow-hidden">
		  <div class="row gy-4">
			<div class="col-12 col-lg-2">
				<i class="fa-solid fa-truck-fast fs-2 text-light "></i>
			</div>
			<div class="col-12 col-lg-10">
			  <h4 class="mb-3">Pollution free</h4>
			  <p class="mb-3 text-light ">Stop littering.The earth is not your garbage. Green city,Clean city,My dream</p>

			</div>
		  </div>
		</div>
		<div class="col-10 col-md-5 col-xl-4 overflow-hidden">
		  <div class="row gy-4">
			<div class="col-12 col-lg-2">
				<i class="fa-solid fa-truck-fast fs-2 text-light "></i>
			</div>
			<div class="col-12 col-lg-10">
			  <h4 class="mb-3">Recycling waste is upcycling your life</h4>
			  <p class="mb-3 text-light ">When you recycle things, you make a considerable contribution towards saving the environment. That makes your existence worth it..</p>

			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>

{% endblock content %}