{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center" style="margin-top: 10rem;">Driver Complaints</h1>

    {% if driver_complaints %}
        <table class="table table-light table-striped mt-2 table-hover table-responsive">
            <thead>
                <tr class="table-success">
                    <th>Bin Name</th>
                    <th>Region</th>
                    <!-- <th>Date</th>
                    <th>Time</th> -->
                    <th>Day</th>
                    <th>Bin Color</th>
                    <th>Bin Location</th>
                    <th>Status</th>
                    <th>Update Status</th>
                </tr>
            </thead>
            <tbody>
                {% for complaint in driver_complaints %}
                <tr>
                    <td class="text-capitalize ">{{ complaint.bin.Bin_name }}</td>
                    <td class="text-capitalize ">{{ complaint.bin.Bin_location.region }}</td>
                    <!-- <td>{{ complaint.Date }}</td>
                    <td>{{ complaint.Time }}</td> -->
                    <td class="text-capitalize ">{{ complaint.bin.collections_day.day }}</td>
                    <td class="text-capitalize ">{{ complaint.bin.Bin_color.bin_color }}</td>
                    <td class="text-capitalize ">{{ complaint.bin.Bin_location.region }}</td>
                    {% if complaint.status %}
                    <td class="text-success text-capitalize">Collected</td>
                    
                    {% else %}
                    <td  class="text-danger text-capitalize ">Not Collected</td>
                    {% endif  %}
                    <td>
                        {% if complaint.status %}
                        <form action="{% url 'mark_complaint_undone' complaint.complaint_id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-success ">✓</button>
                        </form>
                        
                        {% else %}
                        
                        <form action="{% url 'mark_complaint_done' complaint.complaint_id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-success ">Mark as Done</button>
                        </form>

                        {% endif  %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center">No complaints found for this driver.</p>
    {% endif %}
</div>

{% endblock content %}