{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center" style="margin-top: 10rem;">Driver Complaints</h1>

    {% if driver_complaints %}
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Bin Name</th>
                    <th>Region</th>
                    <!-- <th>Date</th>
                    <th>Time</th> -->
                    <th>Day</th>
                    <th>Bin Color</th>
                    <th>Bin Location</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for complaint in driver_complaints %}
                <tr>
                    <td>{{ complaint.bin.Bin_name }}</td>
                    <td>{{ complaint.bin.Bin_location.region }}</td>
                    <!-- <td>{{ complaint.Date }}</td>
                    <td>{{ complaint.Time }}</td> -->
                    <td>{{ complaint.bin.collections_day.day }}</td>
                    <td>{{ complaint.bin.Bin_color.bin_color }}</td>
                    <td>{{ complaint.bin.Bin_location.region }}</td>
                    {% if complaint.status %}
                    <td class="text-success ">Collected</td>
                    
                    {% else %}
                    <td  class="text-danger  ">Not Collected</td>
                    {% endif  %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center">No complaints found for this driver.</p>
    {% endif %}
</div>

{% endblock content %}